<!DOCTYPE html>
<head><title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Simple Feed Application</h1>
    <button type="button" th:onclick="|window.location.href='/update_feed'|" class="btn btn-primary"> Update feed</button>
    <div th:switch="${feed}" class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 th:case="null">No posts yet!</h2>
                <div th:case="*">
                    <h2>Posts</h2>
                    <div class="row" th:each="post : ${feed}">
                        <div class="">
                            <h3 th:text="${post.description}"></h3>
                            <span th:text="${post.tag}"></span>
                            <img th:src="${post.url}" width="100" height="50">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>